



/* .home-main{
  background: url("../../assets/images/Background.svg");
    width: 100%;
   background-size: cover;
   padding: 200px 0;
   
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden!important;
    margin-bottom: 5.5;
   
   
    
    
    } */
    
    